#grid{
    margin-top: 18%;
}
.container{
    
    background-color: #bce6f7 ;
    display: grid;
    grid-template-columns: 1FR 1FR 1fr;
    border: dashed 1px #1E96FF;
}
.item{
    background-color: #1a3752;
    border: solid 1PX #1974c4;
    text-align: center;
    padding: 10PX;
    margin: 2PX;
    color: white;
}
.p1{
    background-image: url(Built-by-Golds-Serious-Traning-Brand-Hero-e1699369298805.png);

    background-size: cover;

}
.topnav {
    overflow: hidden;
    background-color: #333;
    }
    
    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
    
    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }
    
    .topnav a.active {
    background-color: #04AA6D;
    color: white;
    }